.votecont{
    padding:20px ;
    background-color: cadetblue;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 5px;
    overflow-x: auto;
}

.mapcard{
    height: 450px;
    width: 200px
}


.Link{
    background-color:  rgb(43, 43, 43);
    padding: 10px;
    border-radius: 5px;
    display:flex;
    flex-direction: row;
    align-items: center;
    &:hover{
        background-color: rgb(30, 30, 30);
    }
}

