.cont{
    height: 700px;
    width: 500px;
    padding: 50px;
    background-color: darkslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Link{
background-color:  rgb(43, 43, 43);
padding: 10px;
border-radius: 5px;
}

.Link:hover{
    background-color: rgb(30, 30, 30);
}
