.navbar{
display: flex;
flex-direction: row;
justify-content: space-around ;
background-color: grey;
}

.Link{
    
background-color:  rgb(43, 43, 43);
padding: 10px;
border-radius: 5px;
display:flex;
flex-direction: row;
align-items: center;
}

.Link:hover{
    background-color: rgb(30, 30, 30);
}


